B2_KEY_ID=xxx
B2_APPLICATION_KEY=xxx
B2_BUCKET_NAME=xxx
B2_ENDPOINT=xxx
B2_REGION=xxx

DATABASE_URL=postgresql://postgres:xxx@localhost:xxxx/xxxx

JWT_ACCESS_SECRET=generate-this-with-openssl-rand-base64-32
JWT_REFRESH_SECRET=generate-this-with-openssl-rand-base64-32

BCRYPT_ROUNDS=12
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# VERT_URL=https://convert.yourdomain.com